.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-field {
    width: 500px;
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
    padding: 0 5px;
    margin: {
      bottom: 15px;
    };
  }

  .btn {
    //background-color: green;
  }
}
